registered_services: ['ashwamedha']
secret_key_base: xxxxxxxxxxxxxxxxx
jwt_secret: 'xxxxxxxxxxxxxxxxxx'
sms:
  msg91:
   key: 'xxxxxxxxxx'
   code: '4'
   sender: 'xxxxxxxx'
   url: "https://api.msg91.com/api/sendhttp.php"
aws:
  access_key_id: xxxxxxxxxxxxxxx
  secret_access_key: xxxxxxxxxxxxxxxxx
  endpoint: https://kailasa-bucket1.sgp1.digitaloceanspaces.com
app:
  password_salt: 'c#xxxxxxxxxxxxxxxxx'
subscriptions:
  price: "369.0"
  trial_type: seven_days
referral:
  default_refers: xxxxxxxxxxxxxxxxxxxx
msg91:
  base_url: 'https://control.msg91.com'
  path: '/api/v5/flow/'
  sender: 'xxxxxxxxxxxx'
  authkey: 'xxxxxxxxxxxxxxxxxxxxx'
  dlt:
    sign_up: 'xxxxxxxxxxxxxxxx'
    sign_in: 'xxxxxxxxxxxxxxxxxx'
cashfree:
  client_id: CF490681CIK8IUCIV8L2VVUMD5GG
  client_secret: 2a3571250eebb5609dcb1bfacf12a7b79d42e19e
  ip_whitelisted: false
  public_key_path: config/certificates/cashfree_public_key.pem
  verification_api:
    # base_api: https://payout-gamma.cashfree.com
    base_api: https://payout-api.cashfree.com
    authorize_url: payout/v1/authorize
    bank_url: payout/v1.2/validation/bankDetails 